.card__container {
    display: flex;
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 0px;
}

.card__image {
    flex-direction: column;
    width: 40%;
}

.card__imageMain {
    width: 900px;
    margin-left: 100px;
    margin-top: 85px;
    height: auto;
}

.card__text {
    background-color: rgba(255, 255, 255, 0.712);
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px;
    padding: 20px 40px 40px; 
    text-align: justify;
    margin-top: -400px;
    margin-left: 550px;
    margin-right: 460px;
    margin-bottom: 90px;
    height: auto;
    min-width: 600px;
    width: auto;
    position: relative;
    text-align: center;
}

@media (max-width: 647px) {
    .card__image {
        margin-bottom: 55px;
        margin-right: 10px;
        margin-left: 170px;
        margin-top: -100px;
    }
    .card__container {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        max-width: 670px;
    }

    .card__text {
        margin-left: -240px;
        width: 700px;
        font-size: 18px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.767);
        height: auto;
        padding: 15px auto;
        margin-right: -40px;
        margin-top: 110px;
    }

    .card__imageMain {
        display: flex;
        max-width: 560px;
        margin-left: -110px;
    }
}
