.navigation {
    color: black;
    text-align: center;
    display: inline;
    font-family: 'Raleway', sans-serif;
    width: auto;
    text-decoration: none;
    font-size: 15px;
    word-wrap: nowrap;
    padding: 30px;
    position: fixed;
    overflow: visible;
    margin-bottom: 30px;
    background-color: rgba(235, 235, 235, 0.89);
}

.navigation__item {
    display: inline;
    text-decoration: none;
    color: black;
    text-decoration-line: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link:visited {
    color: black;
}

.link:active {
    color: black;
    background-color: none;
}

.link:hover {
    background-color: rgb(211, 210, 207);
    color: rgb(0, 0, 0);
}

.link {
    text-decoration: none;
    color: black;
    padding: 7px
}

@media (max-width: 647px) {
    ul {
        display: flex;
        margin-top: 20px;
        position: fixed;
        float: left;
        overflow: visible;
        margin-bottom: 30px;
        padding: 10px;
        background-color: rgba(235, 235, 235, 0.808);
        overflow: visible;
    }

    li {
        padding: 0;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto;
        font-size: auto;
    }
}

;